In [44]:
import pandas as pd

child_identifiers = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildIdentifiers.csv")
Child_characteristics = pd.read_csv(r"https://raw.githubusercontent.com/data-to-insight/ERN-sessions/main/data/ChildCharacteristics.csv")
child_identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN
...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN

In [19]:
child_identifiers['birthday']= pd.to_datetime(child_identifiers["PersonBirthDate"], format = "%Y-%m-%d", errors= "coerce")
child_identifiers['deathdate']= pd.to_datetime(child_identifiers["PersonDeathDate"], format = "%Y-%m-%d", errors= "coerce")
child_identifiers['expectedbirthday']= pd.to_datetime(child_identifiers["ExpectedPersonBirthDate"], format = "%Y-%m-%d", errors= "coerce")
child_identifiers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 332 entries, 0 to 331
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Unnamed: 0               332 non-null    int64
 1   LAchildID                332 non-null    object
 2   UPN                      332 non-null    object
 3   FormerUPN                0 non-null      float64
 4   UPNunknown               0 non-null      float64
 5   PersonBirthDate          332 non-null    object
 6   ExpectedPersonBirthDate  7 non-null      object
 7   GenderCurrent            332 non-null    int64
 8   PersonDeathDate          21 non-null     object
 9   birthday                 332 non-null    datetime64[ns]
 10  deathdate                20 non-null     datetime64[ns]
 11  expectedbirthday         7 non-null      datetime64[ns]
dtypes: datetime64[ns](3), float64(2), int64(2), object(5)
memory usage: 31.2+ KB

In [38]:
child_identifiers['age'] = pd.to_datetime('today')-child_identifiers['PersonBirthDate']
child_identifiers['age'] = child_identifiers['age']/pd.Timedelta(365, 'd')
child_identifiers['age'] = child_identifiers['age'].astype('int', errors ='ignore')
child_identifiers['age']

TypeError: unsupported operand type(s) for -: 'Timestamp' and 'str'

In [41]:
import openpyxl

filepath = r'https://github.com/data-to-insight/ERN-sessions/raw/main/data/small%20excel.xlsx'

In [46]:
child_identifiers =pd.merge(child_identifiers, Child_characteristics, how='left')
child_identifiers

,Unnamed: 0,LAchildID,UPN,FormerUPN,UPNunknown,PersonBirthDate,ExpectedPersonBirthDate,GenderCurrent,PersonDeathDate,Ethnicity
0,0,RND000215205141,A850728973744,NaN,NaN,2019-12-06,NaN,1,NaN,WIRT
1,1,RND000824303014,A141396438491,NaN,NaN,2011-04-27,NaN,9,NaN,WROM
2,2,RND000750143123,A929946861554,NaN,NaN,2017-06-06,2019-12-06,1,NaN,AOTH
3,3,RND000909164501,A612330267292,NaN,NaN,2014-10-03,NaN,0,NaN,MWBC
4,4,RND000382171815,A604459366806,NaN,NaN,2019-09-25,NaN,2,NaN,APKN
...,...,...,...,...,...,...,...,...,...,...
327,327,RND000112711501,A465246916125,NaN,NaN,2010-07-07,NaN,2,NaN,WOTH
328,328,RND000513120794,A540014111973,NaN,NaN,2018-08-14,NaN,2,NaN,WROM
329,329,RND000541643134,A549582689058,NaN,NaN,2021-12-09,NaN,51,NaN,BCRB
330,330,RND000404939452,A889492349196,NaN,NaN,2013-07-23,NaN,2,NaN,AIND
331,331,RND000589802835,A877624860226,NaN,NaN,2021-10-25,NaN,9,NaN,WBRI

In [48]:
df_dic =pd.read_excel (filepath, sheet_name=None)
df_dic

{'Child Data':   ChildID Sex        DOB EHCP issued
 0     id1   M 2014-12-05           N
 1     id6   m 2016-01-06           n
 2     id4   m 2013-11-09           Y
 3     id3   F 2022-12-24           Y
 4     id5   F 2020-01-15         NaN
 5     id7   f 2022-09-17           y,
 'Child extras':   ChildID  Assessment Code
 0     id1                1
 1     id5                2
 2     id4                3
 3     id3                4
 4     id6                5
 5     id7                6,
 'Sheet3':    Assessment Code Assessment Outcome
 0                1                  Y
 1                2                  N
 2                3                  N
 3                4                  n
 4                5                  y
 5                6                  N}

In [49]:
data =pd.merge(child_identifiers, df_dic, how='left')
data

TypeError: Can only merge Series or DataFrame objects, a <class 'dict'> was passed